.ceobox{
    width: 100%;
    color: #1d1d1f;
    position: relative;
    
    

}

.ceoimg{
    width: 45%;
    
}
.ceotext{
    font-size: calc(3vw + 7.58px);
    color: #1d1d1f;
    position: absolute;
    left: 47%;
    top: 7%;
    font-weight: bold;
}