.ceobox{
    width: 100%;
    color: #1d1d1f;
    position: relative;
    
    

}

.ceoimg{
    width: 35%;
    
}
.ceotext{
    font-size: calc(3vw + 5.78px);
    color: #1d1d1f;
    position: absolute;
    left: 37%;
    top: 10%;
    font-weight: bold;
}