@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');



*{
    font-family: 'montserrat';
    margin: 0%;
    padding: 0%;
}

a:link { color: white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}
a:hover { color: red; text-decoration: underline;}
.acolor1>a{
    color: #1d1d1f;

}
.plusspace{
    color: #1d1d1f;
    font-size: 14px;
}
.startcolor{
    background-color: black;
    color: #f5f5f7;
}
.start{
    font-size: calc(1.2vw + 11.58px);
    color: #fbfbfb;
}
.titlesize{
    font-size: calc(6vw + 9.5px);
}
.subtitlesize{
    font-size: calc(5vw + 7.7px);
}
.contsize{
    font-size: calc(1.7vw + 10.58px);
}
.contsize2{
    font-size: calc(2.7vw + 11px);
}
footer{
    text-align: center;
    background-color: #f5f5f7;
    font-size: 11px;
    color: #1d1d1f;
    align-items: flex-end;
    border-top: gray 1px solid;
}
footer>a:hover{
    color: #1d1d1f;
}

.banerbox{
    width: 100%;
    height: 45px;
    background-color: #fff;
}
#box{
    width: 100%;
}
.firstbox{
    border-bottom: 1px solid black;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    height: 44px;
    position: fixed;
    width: 100%;
    z-index: 77;
   
}
.firstbaner{
    text-align: center;


}
.banercont{
    font-size: 14px;
    color: #F5F5F7;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 10px;
    padding-left: 30px;
    display: inline-block;
}
.banercont>a:hover{
    color: #1d1d1f;
}

input[id="menuicon"]{
    display: none;
    
}
input[id="menuicon"]+label{
    display: block;
    width: 32px;
    height: 25px;
    position: relative;
    cursor: pointer;
    z-index: 79;
    float: right;
    margin-top: 10px;
    margin-right: 15px;
    
}
input[id="menuicon"]+label span{
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background: #F5F5F7;
    transition: all .35s;

}
input[id="menuicon"]+label span:nth-child(1){
    top: 0;
}
input[id="menuicon"]+label span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}
input[id="menuicon"]+label span:nth-child(3){
    bottom: 0%;
}

input[id="menuicon"]:checked+label span:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked+label span:nth-child(2){
    opacity: 0;
}
input[id="menuicon"]:checked+label span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

div[class="slidebar"]{
    width: 30%;
    height: 100%;
    background: #222;
    position: fixed;
    top: 0;
    z-index: 78;
    transition: all .35s;
    right: -30%;
}
input[id="menuicon"]:checked +label+div{
    right: 0;

}
.sidemenu{
    color: #F5F5F7;
    border-bottom: 1px solid #F5F5F7;
    height: 35px;
    text-align: left;
    padding-left: 3px;
    padding-top: 10px;s
}
.sidecontent{
    color: #F5F5F7;
    padding: 14.5px;
    border-bottom: 1px solid #F5F5F7;

}
div[class="slidebar"] div{
    color: #f5f5f7;
    text-align: center;
    margin-top: 30%;
}
.photo1{
    width: 50%;
    position: relative;
    display: inline-block;
    }
.photo2{
    width: 50%;
    position: absolute;
    right: 0%;
    display: inline-block;
 }


 .ring
{
  display: block;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:#fff000;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px #fff000;
  box-shadow : rgba(0,0,0,0.7) 0 0 0 9999px;
  z-index: 10;
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #fff000;
  border-right:3px solid #fff000;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.ring span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.ring span:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#fff000;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #fff000;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}